<head>
	<title>Ply</title>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<meta name='viewport' content='width=device-width'>
	<script src='/whowasin/js/lib/require/require.js' data-main='/whowasin/js/main'></script>
    <script src='/whowasin/js/lib/modernizr/modernizr.js'></script>
	<link href='/whowasin/stylesheets/screen.css' media='screen, projection' rel='stylesheet'>
</head>